#title {
	border-style: 1px solid;
}

table {
	border: 1px solid #0000ff;
	cellspacing: 0;
	text-align: center;
	vertical-align: middle;
}

table tr td {
	border: 1px solid #0000ff;
	cellspacing: 0;
}

table th {
	border: 1px solid #0000ff;
	cellspacing: 0;
}

.login1 {
	background: url("../img/img1.jpg") no-repeat;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
}

.loginpanel {
	width: 400px;
	background-color: rgba(110, 104, 125, 0.25);
	box-shadow: 10px 10px 10px rgba(51, 62, 66, 0.57);
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px 0 0 -200px;
}

.title {
	background-color: rgba(68, 117, 115, 0.76);
	width: 400px;
	height: 50px;
}

.titleMessage {
	margin: 0 0 0 80px;
	padding-top: 15px;
	color: rgba(202, 128, 91, 0.96);
}

input {
	margin:50px 0 0 100px;
	border: 1px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.loginId ,.password{
	width: 400px;
	height: 100px;
}